<div class="card my-4">
  <h1 class="card-title"><%= @article.title %></h1>

  <p class="card-subtitle">
    <%= author_and_date(@article) %>
  </p>

  <div class="card-body">
    <%= simple_format @article.body %>
  </div>

  <div class="card-actions">
    <%= link_to "Edit", edit_article_path(@article), class: 'btn' %>
  </div>
</div>
