<div class="text-center my-24">
  <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
    <span class="block xl:inline">Starter Kit</span>
    <span class="block text-indigo-600 xl:inline">Rails + Ralix + Tailwind</span>
  </h1>

  <p class="mt-5 mb-10 text-gray-500 sm:text-lg md:text-xl">Starter Kit to build Rails applications fast, with Ralix and Tailwind</p>

  <a href="#" class="btn">Get started</a>
</div>
