<div class="text-center my-24">
  <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
    <span>Starter Kit</span><br>
    <span class="text-indigo-600">Rails + Ralix + Tailwind</span>
  </h1>

  <p class="mt-5 mb-10 text-gray-500 sm:text-lg md:text-xl">Starter Kit to build Rails applications fast, with Ralix, Tailwind and more!</p>

  <a href="https://github.com/ralixjs/rails-ralix-tailwind" class="btn">Get started</a>
  <a href="<%= articles_path %>" class="btn btn-outline ml-4">Explore app</a>
</div>
