<h1>Privacy policy</h1>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
