<h1>Terms</h1>

<p class="mb-4"><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p class="mb-4"><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p class="mb-4"><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
