<div class="text-center">
  <h1 class="mt-8"><%= code %></h1>

  <h2><%= error_title %></h2>
  <p><%= error_description %></p>

  <p class="my-8">
    <a href="<%= root_path %>" class="btn">Home</a>
    <a href="javascript:history.back()" class="btn btn-outline">Back</a>
  </p>
</div>
