<div class="text-center">
  <h1 class="mt-8 text-8xl"><%= code %></h1>

  <h2><%= error_title %></h2>
  <div class="max-w-lg mx-auto"><%= error_description %></div>

  <p class="my-8 space-x-2">
    <a href="<%= root_path %>" class="btn">Home</a>
    <a href="#" onclick="back()" class="btn btn-outline">Back</a>
  </p>
</div>
