@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
body {
  @apply bg-slate-100;
}

h1 {
  @apply text-4xl font-bold mt-2 my-4;
}

h2 {
  @apply text-2xl font-bold mt-2 my-4;
}

a {
  @apply text-indigo-600;
}

/* Buttons */
.btn {
  @apply bg-indigo-600 text-white border-2 border-indigo-600 py-3 px-6 rounded cursor-pointer;
}

.btn-outline {
  @apply bg-transparent text-indigo-600;
}

.btn-outline:hover {
  @apply bg-indigo-600 text-white;
}

.btn-danger {
  @apply bg-transparent border-red-400 text-red-400;
}

.btn-danger:hover {
  @apply bg-red-400 text-white;
}

/* Forms */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), textarea {
  @apply mt-2 mb-4 block rounded focus:border-indigo-600 focus:ring focus:ring-indigo-300 focus:ring-opacity-50;
  width: 500px;
}

.form-actions {
  @apply flex gap-4 my-4;
}

/* Pagination */
.pagination .page {
  @apply text-xl p-2;
}

.pagination .page.active {
  @apply bg-indigo-600 text-white rounded;
}
