<div class="modal" id="remote-modal" aria-hidden="true">
  <div class="modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="modal-container" role="dialog">
      <header class="flex items-center justify-between">
        <h1 class="modal-title"></h1>
        <button class="outline-none" data-micromodal-close>
          <%= heroicon "x-mark", options: { class: "w-8 h-8" } %>
        </button>
      </header>
      <main class="my-2">
        <p>Loading ...</p>
      </main>
    </div>
  </div>
</div>
